################################################################################
# Visual Studio
################################################################################

*.exe
*.o
*.obj
*.dll

lex.yy.c
lex.yy.cpp
sql_parser.tab.c
sql_parser.tab.cpp
sql_parser.tab.h
sql_parser.tab.hpp

data/
access.log

.vs/
.vscode/
.idea/